body{
    background-color: #f0f0f8;
}


.nav{
    background-color: #f34;
    height: 20px;
    margin: auto;

}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
